// ===============================================
// =============        FONTS       ==============
// ===============================================

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');



// ===============================================
// =============        CSS         ==============
// ===============================================





// ===============================================
// =============  CUSTOM PROPERTY   ==============
// ===============================================
:root {
    // =============== colors ===============



    // =============== gradient
    --bg-gradient-onyx: linear-gradient(
        to bottom right,
        hsl(240, 1%, 25%) 3%,
        hsl(0, 0%, 19%) 97%
    );
    --bg-gradient-jet: linear-gradient(
        to bottom right,
        hsla(240, 1%, 18%, 0.251) 0%,
        hsla(240, 2%, 11%, 0) 100%
    ), hsla(240, 2%, 13%);
    --bg-gradient-yellow-1: linear-gradient(
        to bottom right,
        hsl(45, 100%, 71%) 0%,
        hsl(36, 100%, 69%, 0) 50%
    );
    --bg-gradient-yellow-2: linear-gradient(
        135deg,
        hsl(45, 100%, 71%, 0.251) 0%,
        hsl(35, 100%, 68%, 0) 59.86%
    ), hsla(240, 2%, 13%);
    --border-gradient-onyx: linear-gradient(
        to bottom right,
        hsl(0, 0%, 25%) 0%,
        hsl(0, 0%, 25%, 0) 50%
    );
    --text-gradient-yellow: linear-gradient(
        to right,
        hsl(45, 100%, 72%),
        hsl(35, 100%, 68%)
    );



    // =============== solid
    --jet: hsl(0, 0%, 22%);
    --onyx: hsl(240, 1%, 17%);
    --eerie-black-1: hsl(24, 2%, 13%);
    --eerie-black-2: hsl(24, 2%, 12%);
    --smoky-black: hsl(0, 0%, 7%);
    --white-1: hsl(0, 0%, 100%);
    --white-2: hsl(0, 0%, 98%);
    --orange-yellow-crayola: hsl(45, 100%, 72%);
    --vegas-gold: hsl(45, 54%, 58%);
    --light-gray: hsl(0, 0%, 84%);
    --light-gray-70: hsl(0, 0%, 84%, 0.7);
    --bittersweet-shimmer: hsl(0, 43%, 51%);



    // =============== typography ===============
    
    // =============== font-family
    --ff-poppins: 'Poppins', sans-serif;

    // =============== font-size
    --fs-1: 24px;
    --fs-2: 18px;
    --fs-3: 17px;
    --fs-4: 16px;
    --fs-5: 15px;
    --fs-6: 14px;
    --fs-7: 13px;
    --fs-8: 11px;

    // =============== font-weight
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;



    // =============== shadow ===============

    --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
    --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
    --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
    --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);



    // =============== transition ===============

    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease-in-out;
}



// ===============================================
// =============       RESET        ==============
// ===============================================
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img, ion-icon, a, button, time, span {
    display: block;
}

button {
    font: inherit;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
}

input, textarea {
    display: block;
    width: 100%;
    background: none;
    font: inherit;
}

::selection {
    background: var(--orange-yellow-crayola);
    color: var(--smoky-black)
}

::focus {
    outline-color: var(--orange-yellow-crayola);
}

html {
    font-family: var(--ff-poppins);
}

body {
    background: var(--smoky-black)
}



// ===============================================
// =============    REUSED STYLE    ==============
// ===============================================
.sidebar,
article {
    background: var(--eerie-black-2);
    border: 1px solid var(--jet);
    border-radius: 20px;
    padding: 15px;
    box-shadow: var(--shadow-1);
    z-index: 1;
}

.separator {
    width: 100%;
    height: 1px;
    background: var(--jet);
    margin: 16px 0;
}

.icon-box {
    position: relative;
    background: var(--border-gradient-onyx);
    height: 30px;
    width: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-4);
    color: var(--orange-yellow-crayola);
    box-shadow: var(--shadow-1);
    z-index: 1;
    &::before{
        content: "";
        position: absolute;
        inset: 1px;
        background: var(--eerie-black-1);
        border-radius: inherit;
        z-index: -1;
    }
    ion-icon {
        --ionicon-stroke-width: 35px;
    }
}

article {
    display: none;
    &.active {
        display: block;
        animation: fade 0.5s ease backwards;
    }
}

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.h2, .h3, .h4, .h5 {
    color:  var(--white-2);
    text-transform: capitalize;
}

.h2 {
    font-size: var(--fs-1);
}

.h3 {
    font-size: var(--fs-2);
}

.h4 {
    font-size: var(--fs-4);
}

.h5 {
    font-size: var(--fs-7);
    font-weight: var(--fw-500);
}

.article-title {
    position: relative;
    padding-bottom: 7px;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 30px;
        height: 3px;
        background: var(--text-gradient-yellow);
        border-radius: 3px;
    }
}

.has-scrollbar {
    &::-webkit-scrollbar {
        width: 5px; // for vertical scrollbar
        height: 5px; // for horizontal scrollbar
        &-track {
            background: var(--onyx);
            border-radius: 5px;
        }
        &-thumb {
            background: var(--orange-yellow-crayola);
            border-radius: 5px;
        }
        &-button {
            width: 20px;
        }
    }
}

.content-card {
    position: relative;
    background: var(--border-gradient-onyx);
    padding: 15px;
    padding-top: 45px;
    border-radius: 14px;
    box-shadow: var(--shadow-2);
    cursor: pointer;
    z-index: 1;
    &::before {
        content: '';
        position: absolute;
        inset: 1px;
        background: var(--bg-gradient-jet);
        border-radius: inherit;
        z-index: -1;
    }
}




// ===============================================
// =============        MAIN        ==============
// ===============================================
main {
    margin: 15px 12px;
    margin-bottom: 75px;
    min-width: 259px;
}

// ============= SIDEBAR ==============
.sidebar {
    margin-bottom: 15px;
    max-height: 120px;
    overflow: hidden;
    padding: 15px;
    transition: var(--transition-2);
    &.active {
        max-height: 465px;
    }
}

.sidebar-info {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.avatar-box {
    background: var(--bg-gradient-onyx);
    border-radius: 20px;
}

.info-content {
    .name {
        color: var(--white-2);
        font-size: var(--fs-3);
        font-weight: var(--fw-500);
        letter-spacing: -0.25px;
        margin-bottom: 10px;
    }
    .title {
        color: var(--white-1);
        background: var(--onyx);
        font-size: var(--fs-8);
        font-weight: var(--fw-300);
        width: max-content;
        padding: 3px 12px;
        border-radius: 8px;
    }
}

.info__more-btn {
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 0 15px;
    font-size: var(--fs-7);
    color: var(--orange-yellow-crayola);
    background: var(--border-gradient-onyx);
    padding: 10px;
    box-shadow: var(--shadow-2);
    transition: var(--transition-1);
    z-index: 1;
    &::before{
        content: "";
        position: absolute;
        inset: 1px;
        border-radius: inherit;
        background: var(--bg-gradient-jet);
        transition: var(--transition-1);
        z-index: -1;
    }
    &:hover, &:focus {
        background: var(--bg-gradient-yellow-1)
    }
    &:hover::before, &:focus::before {
        background: var(--bg-gradient-yellow-2)
    }
    span {
        display: none;
    }
}

.sidebar-info__more {
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-2);
}

.sidebar.active .sidebar-info__more {
    opacity: 1;
    visibility: visible;
}

.contacts-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.contact-item {
    min-width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.contact-info {
    max-width: calc(100% - 46px);
    width: calc(100% - 46px);
    :is(.contact-link, time, address) {
        color: var(--white-2);
        font-size: var(--fs-7);
    }
    address {
        font-style: normal;
    }
}

.contact-title {
    color: var(--light-gray-70);
    font-size: var(--fs-8);
    text-transform: uppercase;
    margin-bottom: 2px;
}

.social-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding-bottom: 4px;
    padding-left: 7px;
}

.social-item .social-link {
    color: var(--light-gray-70);
    font-size: var(--fs-2);
}

.social-item .social-link:hover {
    color: var(--light-gray)
}



// ===============================================
// =============       NAVBAR       ==============
// ===============================================
.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: hsla(240, 1%, 17%, 0.75);
    backdrop-filter: blur(10px);
    border: 1px solid var(--jet);
    border-radius: 12px 12px 0 0;
    box-shadow: var(--shadow-2);
    z-index: 5;
    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
    }
    &-link {
        color: var(--light-gray);
        font-size: var(--fs-8);
        padding: 20px 7px;
        transition: color var(--transition-1);
        &:hover, &:focus {
            color: var(--light-gray-70)
        }
        &.active {
            color: var(--orange-yellow-crayola)
        }
    }
}



// ===============================================
// =============       ABOUT        ==============
// ===============================================
.about .article-title {
    margin-bottom: 15px;
}

.about-text {
    color: var(--light-gray);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
    line-height: 1.6;
    p {
        margin-bottom: 15px;
    }
}

// =============     SERVICE       ==============
.service {
    margin-bottom: 35px;
    &-title {
        margin-bottom: 20px;
    }
    &-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    &-item {
        position: relative;
        background: var(--border-gradient-onyx);
        padding: 20px;
        border-radius: 14px;
        box-shadow: var(--shadow-2);
        z-index: 1;
        &::before {
            content: '';
            position: absolute;
            inset: 1px;
            background: var(--bg-gradient-jet);
            border-radius: inherit;
            z-index: -1;
        }
    }
    &-icon-box {
        margin-bottom: 10px;
        img {
            margin: auto;
        }
    }
    &-content-box {
        text-align: center;
    }
    &-item-title {
        margin-bottom: 7px;
    }
    &-item-text {
        color: var(--light-gray);
        font-size: var(--fs-6);
        font-weight: var(--fw-300);
        line-height: 1.6;
    }
}

// =============    TESTIMONIALS    ==============
.testimonials {
    margin-bottom: 30px;
    &-title {
        margin-bottom: 20px;
    }
    &-list {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 15px;
        margin: 0 -15px;
        padding: 25px 15px;
        padding-bottom: 35px;
        overflow-x: auto;
        scroll-behavior: smooth;
        overscroll-behavior-inline: contain;
        scroll-snap-type: inline mandatory;
    }
    &-item {
        min-width: 100%;
        scroll-snap-align: center;
    }
    &-avatar-box {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(15px, -25px);
        background: var(--bg-gradient-onyx);
        border-radius: 14px;
        box-shadow: var(--shadow-1);
    }
    &-item-title {
        margin-bottom: 7px;
    }
    &-text {
        color: var(--light-gray);
        font-size: var(--fs-6);
        font-weight: var(--fw-300);
        line-height: 1.6;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

// ==========    TESTIMONIALS MODAL   ============
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overscroll-behavior: contain;
    z-index: 20;
    pointer-events: none;
    visibility: hidden;
    &::-webkit-scrollbar {
        display: none;
    }
    &.active {
        pointer-events: all;
        visibility: visible;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: hsl( 0, 0%, 5%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 1;
    transition: var(--transition-1);
    &.active {
        opacity: 0.8;
        visibility: visible;
        pointer-events: all;
    }
}

.testimonials {
    &-modal {
        background: var(--eerie-black-2);
        position: relative;
        padding: 15px;
        margin: 15px 12px;
        border: 1px solid var(--jet);
        border-radius: 14px;
        box-shadow: var(--shadow-5);
        transform: scale(1.2);
        opacity: 0;
        transition: var(--transition-1);
        z-index: 2;
        
    }
}

.modal {
    &-container.active .testimonials-modal {
        transform: scale(1);
        opacity: 1;
    }
    &-close-btn {
        position: absolute;
        top: 15px;
        right: 15px;
        background: var(--onyx);
        border-radius: 8px;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white-2);
        font-size: var(--fs-2);
        opacity: 0.7;
        &:hover, &:focus {
            opacity: 1;
        }
        ion-icon {
            --ionicon-stroke-width: 50px;
        }
    }
    &-avatar-box {
        background: var(--bg-gradient-onyx);
        width: max-content;
        border-radius: 14px;
        margin-bottom: 15px;
        box-shadow: var(--shadow-2)
    }
    &-img-wrapper > img {
        display: none;
    }
    &-title {
        margin-bottom: 4px;
    }
    &-content {
        time {
            font-size: var(--fs-6);
            color: var(--light-gray-70);
            font-weight: var(--fw-300);
            margin-bottom: 10px;
        }
        p {
            color: var(--light-gray);
            font-size: var(--fs-6);
            line-height: 1.6;
        }
    }
}

// ================    CLIETNS   =================
.clients {
    margin-bottom: 15px;
    &-list {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 15px;
        margin: 0 -15px;
        padding: 25px;
        padding-bottom: 25px;
        overflow-x: auto;
        scroll-behavior: smooth;
        overscroll-behavior-inline: contain;
        scroll-snap-type: inline mandatory;
        scroll-padding-inline: 25px;
    }
    &-item {
        min-width: 50%;
        scroll-snap-align: start;
        img {
            width: 100%;
            filter: grayscale(1);
            transition: var(--transition-1);
            &:hover {
                filter: grayscale(0)
            }
        }
    }
}



// ===============================================
// =============       RESUME       ==============
// ===============================================
.article {
    &-title {
        margin-bottom: 30px;
    }
}

// =============      EDUCATION     ==============
.timeline {
    margin-bottom: 30px;
    .title {
        &-wrapper {
            display: flex;
            align-items:center;
            gap: 15px;
            margin-bottom: 25px;
        }
    }
    &-list {
        font-size: var(--fs-6);
        margin-left: 45px;
        span {
            font-weight: var(--fw-400);
            color: var(--vegas-gold);
            line-height: 1.6;
        }
    }
    &-item {
        position: relative;
        &-title {
            font-size: var(--fs-6);
            line-height: 1.3;
            margin-bottom: 7px;
        }
        &:not(:last-child) {
            margin-bottom: 20px;
            &::before {
                content: '';
                position: absolute;
                top: -25px;
                left: -30px;
                width: 1px;
                height: calc(100% + 50px);
                background: var(--jet)
            }
        }
        &::after {
            content: '';
            position: absolute;
            top: 5px;
            left: -32px;
            height: 6px;
            width: 6px;
            background: var(--text-gradient-yellow);
            border-radius: 50%;
            box-shadow: 0 0 0 4px var(--jet);
        }
    }
    &-text {
        color: var(--light-gray);
        font-weight: var(--fw-300);
        line-height: 1.6;
    }
}

// =============       SKILLS       ==============
.skills {
    &-title {
        margin-bottom: 20px;
    }
    &-list {
        padding: 20px;
    }
    &-item {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}

.skill {
    .title-wrapper {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 8px;
        data {
            color: var(--light-gray);
            font-size: var(--fs-7);
            font-weight: var(--fw-300);
        }
    }
    &-progress-bg {
        background: var(--jet);
        width: 100%;
        height: 8px;
        border-radius: 10px
    }
    &-progress-fill {
        background: var(--text-gradient-yellow);
        height: 100%;
        border-radius: inherit;
    }
}



// ===============================================
// =============      PORTFOLIO     ==============
// ===============================================
.filter {
    &-list {
        display: none;
    }

    &-select-box {
        position: relative;
        margin-bottom: 25px;
    }

    &-select {
        background: var(--eerie-black-2);
        color: var(--light-gray);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 12px 16px;
        border: 1px solid var(--jet);
        border-radius: 14px;
        font-size: var(--fs-6);
        font-weight: var(--fw-300);
        &.active .select-icon {
            transform: rotate(0.5turn);
        }
    }
}

.select {
    &-list {
        background: var(--eerie-black-2);
        position: absolute;
        top: calc(100% + 6px);
        width: 100%;
        padding: 6px;
        border: 1px solid var(--jet);
        border-radius: 14px;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: 0.15s ease-in-out;
    }
    &-item button {
        background: var(--eerie-black-2);
        color: var(--light-gray);
        font-size: var(--fs-6);
        font-weight: var(--fw-300);
        text-transform: capitalize;
        width: 100%;
        padding: 8px 10px;
        border-radius: 8px;
        &:hover {
            --eerie-black-2: hsl(240, 2%, 20%);
        }
    }
}

.filter-select.active + .select-list {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.project {
    &-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        margin-bottom: 10px;
    }
    &-item {
        display: none;
        &.active {
            display: block;
            animation: scaleUp 0.25s ease forwards;
        }
        >a {
            width: 100%;
            &:hover {
                .project-img::before {
                    background: hsla(0, 0%, 0%, 0.5);
                }
                .project-item-icon-box {
                    --scale: 1;
                    opacity: 1;
                }
                img {
                    transform: scale(1.1);
                }
            }
        }
        &-icon-box {
            --scale: 0.8;

            background: var(--jet);
            color: var(--orange-yellow-crayola);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(var(--scale));
            font-size: 20px;
            padding: 18px;
            border-radius: 12px;
            opacity: 0;
            z-index: 1;
            transition: var(--transition-1);
            ion-icon {
                --ionicon-stroke-width: 50px;
            }
        }
    }
    &-img {
        position: relative;
        width: 100%;
        height: 200px;
        border-radius: 16px;
        overflow: hidden;
        margin-bottom: 15px;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: transparent;
            z-index: 1;
            transition: var(--transition-1);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: var(--transition-1);
        }
    }
    &-title, &-category {
        margin-left: 10px;
    }
    &-title {
        color: var(--white-2);
        font-size: var(--fs-5);
        font-weight: var(--fw-400);
        text-transform: capitalize;
        line-height: 1.3;
    }
    &-category {
        color: var(--light-gray);
        font-size: var(--fs-6);
        font-weight: var(--fw-300);
    }
}

@keyframes scaleUp {
    0% { transofrm: scale(0.5); }
    100% { transform: scale(1) }
}



// ===============================================
// =============        BLOG        ==============
// ===============================================
.blog {
    &-posts {
        margin-bottom: 10px;
        &-list {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }
    &-post {
        &-item {
            >a {
                position: relative;
                background: var(--border-gradient-onyx);
                height: 100%;
                box-shadow: var(--shadow-4);
                border-radius: 16px;
                z-index: 1;
        
                &::before {
                    content: '';
                    position: absolute;
                    inset: 1px;
                    border-radius: inherit;
                    background: var(--eerie-black-1);
                    z-index: -1;
                }
        
                &:hover {
                    .blog-banner-box img {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
    &-banner-box {
        width: 100%;
        height: 200px;
        border-radius: 12px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: var(--transition-1);
        }
    }
    &-content {
        padding: 15px;
    }
    &-meta {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 7px;
        margin-bottom: 10px;
        :is(.blog-category, time) {
            color: var(--light-gray-70);
            font-size: var(--fs-6);
            font-weight: var(--fw-300);
        }
        .dot {
            background: var(--light-gray-70);
            width: 4px;
            height: 4px;
            border-radius: 50%;
        }
    }
    &-item {
        &-title {
            margin-bottom: 10px;
            line-height: 1.3;
            transition: var(--transition-1);
        }
    }
    &-post {
        &-item {
            > a {
                &:hover {
                    .blog-item-title {
                        color: var(--orange-yellow-crayola)
                    }
                }
            }
        }
    }
    &-text {
        color: var(--light-gray);
        font-size: var(--fs-6);
        font-weight: var(--fw-300);
        line-height: 1.6;
    }
}



// ===============================================
// =============       CONTACT      ==============
// ===============================================
.mapbox {
    position: relative;
    height: 250px;
    width: 100%;
    border-radius: 16px;
    margin-bottom: 30px;
    border: 1px solid var(--jet);
    overflow: hidden;
    figure {
        height: 100%;
    }
    iframe {
        width: 100%;
        height: 100%;
        border: none;
        filter: grayscale(1) invert(1)
    }
}
.contact {
    &-form {
        margin-bottom: 10px;
    }
}

.form {
    &-title {
        margin-bottom: 20px;
    }
    &-input {
        color: var(--white-2);
        font-size: var(--fs-6);
        font-weight: var(--fw-400);
        padding: 13px 20px;
        border: 1px solid var(--jet);
        border-radius: 14px;
        outline: none;
        &::placeholder {
            font-weight: var(--fw-500);
        }
        &:focus {
            border-color: var(--orange-yellow-crayola);
        }
        &:focus {
            &:invalid {
                border-color: var(--bittersweet-shimmer)
            }
        }
    }
    &-btn {
        position: relative;
        width: 100%;
        background: var(--border-gradient-onyx);
        color: var(--orange-yellow-crayola);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 13px 20px;
        border-radius: 14px;
        font-size: var(--fs-6);
        text-transform: capitalize;
        box-shadow: var(--shadow-3);
        z-index: 1;
        transition: var(--transition-1);
        &::before {
            content: '';
            position: absolute;
            inset: 1px;
            background: var(--bg-gradient-jet);
            border-radius: inherit;
            z-index: -1;
            transition: var(--transition-1);
        }
        ion-icon {
            font-size: var(--fs-4);
        }
        &:hover {
            background: var(--bg-gradient-yellow-1);
            &::before {
                background: var(--bg-gradient-yellow-2)
            }
        }
        &:disabled {
            opacity: 0.7;
            cursor: not-allowed;
            &:hover {
                background: var(--bg-gradient-onyx);
                &::before {
                    background: var(--bg-gradient-jet);
                }
            }
        }
    }
}

.input {
    &-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
        margin-bottom: 25px;
    }
}

textarea.form-input {
    min-height: 100px;
    height: 120px;
    max-height: 200px;
    resize: vertical;
    // margin-bottom: 25px;
    &::-webkit-resizer {
        display: none;
    }
}



// ===============================================
// =============     RESPONSIVE     ==============
// ===============================================

// responsive larger than 450px screen
@media (min-width: 450px) {

    // client
    .clients {
        &-item {
            min-width: calc(33.33% - 10px);
        }
    }

    // portfolio, blog
    .project-img,
    .blog-banner-box {
        height: auto;
    }
}

// responsive larger than 580px screen
@media (min-width: 580px) {

    // custom property
    :root {

        // typography
        --fs-1: 32px;
        --fs-2: 24px;
        --fs-3: 26px;
        --fs-4: 18px;
        // --fs-5: 15px;
        --fs-6: 15px;
        --fs-7: 15px;
        --fs-8: 12px;
    }

    // reused style
    .sidebar,
    article {
        width: 520px;
        margin-inline: auto;
        padding: 30px;
    }

    .article {
        &-title {
            font-weight: var(--fw-600);
            padding-bottom: 15px;
            &::after {
                width: 40px;
                height: 5px;
            }
        }
    }

    .icon-box {
        width: 48px;
        height: 48px;
        border-radius: 12px;
        font-size: var(--fs-4);
    }

    // main
    main {
        margin-top: 60px;
        margin-bottom: 100px;
    }

    // sidebar
    .sidebar {
        max-height: 180px;
        margin-bottom: 30px;
        &.active {
            max-height: 640px;
        }
        &-info {
            gap: 25px;
        }
    }

    .avatar {
        &-box {
            border-radius: 30px;
            img {
                width: 120px;
            }
        }
    }

    .info {
        &-content {
            .name {
                margin-bottom: 15px;
            }
        
            .title {
                padding: 5px 18px;
            }
        }
        &__more-btn {
            top: -30px;
            right: -30px;
            padding: 10px 15px;
            span {
                display: block;
                font-size: 12px;
            }
            ion-icon {
                display: none;
            }
        }
    }

    .separator {
        margin: 20px 0;
    }
    
    .contacts-list {
        gap: 20px;
    }

    .contact {
        &-info {
            max-width: calc(100% - 64px);
            width: calc(100% - 64px);
        }
    }

    // navbar
    .navbar {
        border-radius: 20px 20px 0 0;
        &-list {
            gap: 20px;
        }
        &-link {
            --fs-8: 14px
        }
    }

    // about
    .about {
        .article {
            &-title {
                margin-bottom: 20px;
            }
        }
        &-text {
            margin-bottom: 40px;
        }
    }

    // service
    .service {
        &-item {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 18px;
            padding: 30px;
        }
        &-icon-box {
            margin-bottom: 0;
            margin-top: 5px;
        }
        &-content-box {
            text-align: left;
        }
    }

    // testimonials
    .testimonials {
        &-title {
            margin-bottom: 25px;
        }
        &-list {
            gap: 30px;
            margin: 0 -30px;
            padding: 30px;
            padding-bottom: 35px;
        }
        &-avatar-box {
            transform: translate(30px, -30px);
            border-radius: 20px;
            img {
                width: 80px;
            }
        }
        &-item {
            &-title {
                margin-bottom: 10px;
                margin-left: 95px;
            }
        }
        &-text {
            line-clamp: 2;
            -webkit-line-clamp: 2;
        }
    }

    .content {
        &-card {
            padding: 30px;
            padding-top: 25px;
        }
    }

    // testimonials modal
    .modal {
        &-container {
            padding: 20px;
        }
        &-img {
            &-wrapper{
                display: flex;
                flex-direction: column;
                align-items: center;
                >img {
                    display: block;
                    flex-grow: 1;
                    width: 35px;
                }
            }
        }
        &-avatar {
            &-box {
                border-radius: 18px;
                margin-bottom: 0;
                img {
                    width: 65px;
                }
                
            }
        }
    }

    .testimonials {
        &-modal {
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            gap: 25px;
            padding: 30px;
            border-radius: 20px;
        }
    }

    // clients
    .clients {
        &-list {
            gap: 50px;
            margin: 0 -30px;
            padding: 45px;
            scroll-padding-inline: 45px;
        }
        &-item {
            min-height: calc(33.33% - 35px);
        }
    }



    // ================= RESUME
    .timeline {
        &-list {
            margin-left: 65px;
        }
        &-item {
            &:not(:last-child) {
                &::before {
                    left: -40px;
                }
            }
            &::after {
                height: 8px;
                width: 8px;
                left :-43px;
            }
        }
    }

    .skills {
        &-item {
            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }
    }

    // ================= PORTFOLIO, BLOG
    .project-img, .blog-banner-box {
        border-radius: 16px;
    }

    .blog {
        &-posts-list {
            gap: 30px;
        }
        &-content {
            padding: 25px;
        }
    }

    // ================= CONTACT
    .mapbox {
        height: 380px;
        border-radius: 18px;
    }

    .input-wrapper {
        gap: 30px;
        margin-bottom: 30px;
    }

    .form-input {
        padding: 15px 20px;
    }

    textarea.form-input {
        margin-bottom: 30px;
    }

    .form-btn {
        --fs-6: 16px;
        padding: 16px 20px;
        ion-icon {
            font-size: 18px;
        }
    }
}

// responsive larger than 768px screen
@media (min-width: 768px) {
    // reused style
    .sidebar, article {
        width: 700px;
    }

    .has-scrollbar::-webkit-scrollbar-button{
        width: 100px;
    }

    // sidebar
    .contact-list {
        grid-template-columns: 1fr 1fr;
        gap: 30px 15px;
    }

    // navbar
    .navbar-link {
        --fs-8: 15px;
    }

    // =================== ABOUT
    // testimonials modal
    .testimonials-modal {
        gap: 35px;
        max-width: 680px;
    }

    .modal-avatar-box img {
        width: 80px;
    }

    //  portfolio
    .article-title {
        padding-bottom: 20px;
    }

    .filter-select-box {
        display: none;
    }

    .filter-list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 25px;
        padding-left: 5px;
        margin-bottom: 30px;
    }

    .filter-item button {
        color: var(--light-gray);
        font-size: var(--fs-5);
        transition: var(--transition-1);
        &:hover {
            color: var(--light-gray-70);
        }
        &.active {
            color: var(--orange-yellow-crayola);
        }
    }

    // portolio and blog grid
    .project-list, .blog-posts-list {
        grid-template-columns: 1fr 1fr;
    }

    // contact
    .iput-wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .form-btn {
        width: max-content;
        margin-left: auto;
    }
}

// responsive larger than 1024px screen
@media (min-width: 1024px) {
    // ========== CUSTOM PROPERTY
    :root {
        // shadow
        --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
        --shadow-2: 0px 16px 30px hsla(0, 0%, 0%, 0.125);
        --shadow-3: 0px 16px 40px hsla(0, 0%, 0%, 0.125);
    }

    // reused style
    .sidebar, article {
        width: 950px;
        box-shadow:var(--shadow-5);
    }

    // main
    main {
        margin-bottom: 60px;
    }

    .main-content {
        position: relative;
        width: max-content;
        margin: auto;
    }


    // navbar
    .navbar {
        position: absolute;
        bottom: auto;
        top: 0;
        left: auto;
        right: 0;
        width: max-content;
        border-radius: 0 20px;
        padding: 0 20px;
        box-shadow: none;
        &-list {
            gap: 30px;
            padding: 0 20px;
        }
        &-link {
            font-weight: var(--fw-500);
        }
    }

    // =================== ABOUT
    // service
    .service-list {
        grid-template-columns: 1fr 1fr;
        gap: 20px 25px;
    }

    //  testimonials
    .testimonials-item {
        min-width: calc(50% - 15px);
    }

    // clients
    .clients-item {
        min-width: calc(25% - 38px);
    }

    // portfolio
    .project-list {
        grid-template-columns: repeat(3, 1fr);
    }


    // =================== BLOG
    .blog-banner-box{
        height: 230px;
    }
}

// responsive larger than 1250px screen
@media (min-width: 1250px) {
    // reset

    body {
        &::-webkit-scrollbar{
            width: 20px;
            &-track {
                background: var(--smoky-black);
            }
            &-thumb {
                border: 5px solid var(--smoky-black);
                background: hsla(0, 0%, 100%, 0.1);
                border-radius: 20px;
                box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11), inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
                &:hover {
                    background: hsla(0, 0%, 100%, 0.15);
                }
            }
            &-button {
                height: 60px;
            }
        }
    }

    // reused style
    .sidebar, article {
        width: auto;
    }
    article {
        min-height: 100%;
    }

    // main
    main {
        max-width: 1200px;
        margin-inline: auto;
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 25px;
    }

    .main-content {
        min-width: 75%;
        width: 75%;
        margin: 0;
    }

    // sidebar
    .sidebar {
        position: sticky;
        top: 60px;
        max-height: max-content;
        height: 100%;
        margin-bottom: 0;
        padding-top: 60px;
        z-index: 1;
        &-info {
            flex-direction: column;
        }
    }

    .avatar-box {
        img {
            width: 150px;
        }
    }

    .info-content {
        .name {
            white-space: nowrap;
            text-align: center;
        }
        .title {
            margin: auto;
        }
    }

    .info__more-btn {
        display: none;
    }

    .sidebar-info__more {
        opacity: 1;
        visibility: visible;
    }

    .contacts-list {
        grid-template-columns: 1fr;
    }

    .contact-info :is(.contact-link) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .contact-info :is(.contact-link, time, address) {
        --fs-7: 14px;
        font-weight: var(--fw-300);
    }

    .separator:last-of-type {
        margin: 15px 0;
        opacity: 0;
    }

    .social-list {
        justify-content: center;
    }

    // =========== RESUME
    .timeline-text {
        max-width: 700px;
    }
}